<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/stu_select_crouse?serverTimezone=GMT%2b8&amp;characterEncoding=utf-8</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- 在控制台显示sql代码 -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <!-- 绑定映射文件 -->
        <mapping class="team.niit.entity.StudentEntity"/>
        <mapping class="team.niit.entity.CourseEntity"/>
        <mapping class="team.niit.entity.AdminEntity"/>
        <mapping class="team.niit.entity.NotificationEntity"/>
    </session-factory>
</hibernate-configuration>
